* {
  font-family: "Montserrat";
}

body {
  padding-top: 45px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}

.Maincontainer {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.styleHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  width: 1240px;
}

.styleNav {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(255, 96, 96);
  font-weight: bold;
  font-size: 16px;
  font-family: Montserrat;
  border-bottom: transparent;
  font-size: 24px;
  font-weight: 500;
  margin-left: 20px;
}
a.active {
  border-bottom: 2px solid rgb(255, 96, 96);
}

.SectionBanner {
  margin-bottom: -80px;
}
.SectionBanner img {
  width: 1240px;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  filter: brightness(70%);
}
.SectionBanner h1 {
  position: relative;
  top: -180px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 48px;
  font-family: Montserrat;
  text-align: center;
}

.Gallery {
  width: 1240px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-height: 710px;
  overflow-y: auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 25px;
  background-color: rgb(246, 246, 246);
}

.Card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  position: relative;
  margin-left: 10px;
}
.Card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 340px;
  height: 340px;
  border-radius: 10px;
}
.Card h2 {
  position: absolute;
  left: 20px;
  bottom: -20px;
  color: white;
  width: 300px;
  height: 52px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.Card:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.styleFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 210px;
  margin-top: 50px;
  overflow: hidden;
  background-color: black;
  width: 100%;
}
.styleFooter img {
  width: 122px;
  height: 40px;
}
.styleFooter h2 {
  width: 513px;
  height: 46px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  color: white;
  text-align: center;
}

.ficheLogement {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.ficheLogement .Sectionlogements {
  width: 1240px;
}
.ficheLogement .Sectionlogements .Informationslogements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1240px;
}
.ficheLogement .Sectionlogements .TitreAnnonce {
  display: flex;
  flex-direction: column;
  width: 635px;
  height: 77px;
  position: relative;
  left: -300px;
  top: 10px;
}
.ficheLogement .Sectionlogements .TitreAnnonce h2 {
  color: rgb(255, 96, 96);
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ficheLogement .Sectionlogements .TitreAnnonce p {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}
.ficheLogement .Sectionlogements .tag {
  display: flex;
  flex-direction: row;
  position: relative;
  left: -370px;
  top: 30px;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ficheLogement .Sectionlogements .tag ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
  list-style-type: none;
  padding-left: 0px;
}
.ficheLogement .Sectionlogements .tag ul li {
  background-color: rgb(255, 96, 96);
  border-radius: 10px;
  color: white;
  width: 115px;
  height: 22px;
  text-align: center;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
}
.ficheLogement .Sectionlogements .hote {
  width: 167px;
  height: 64px;
  position: relative;
  top: -120px;
  left: 535px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 96, 96);
}
.ficheLogement .Sectionlogements .hote p {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  margin-right: 10px;
}
.ficheLogement .Sectionlogements .hote img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgb(196, 196, 196);
}
.ficheLogement .Sectionlogements .Rating {
  position: relative;
  top: -100px;
  left: 530px;
  width: 196px;
}
.ficheLogement .Sectionlogements .Rating p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ficheLogement .Sectionlogements .CollapseAlign {
  position: relative;
  top: -90px;
  margin-top: 0px;
}
.ficheLogement .styleFooter {
  margin-top: 0px;
}

.carousel {
  height: 415px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel img {
  width: 1240px;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .arrow_left {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  left: 100px;
}
.carousel .arrow_left img {
  width: 96px;
  height: 120px;
}
.carousel .arrow_right {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  right: 100px;
}
.carousel .arrow_right img {
  width: 96px;
  height: 120px;
}
.carousel .photo-counter {
  color: white;
  position: relative;
  top: -35px;
  left: 50%;
}

.collapse {
  width: 1240px;
}
.collapse .collapse-header {
  background-color: rgb(255, 96, 96);
  border-radius: 10px;
  height: 52px;
  width: 582px;
}
.collapse .collapse-header h3 {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.collapse .collapse-header h3 .collapse-icon {
  width: 32px;
  transition: transform 200ms;
  height: 32px;
}
.collapse .collapse-content {
  background: rgb(246, 246, 246);
  color: rgb(255, 96, 96);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  width: 582px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease-in-out;
}
.collapse .collapse-content p {
  white-space: pre-line;
  text-align: left;
  padding: 20px 20px 20px 20px;
  margin-top: 0px;
}
.collapse .collapse-content ul {
  list-style-type: none;
  padding: 20px 20px 20px 20px;
  margin-top: 0px;
}

.CollapseAlign {
  display: flex;
  flex-direction: row;
  width: 1240px;
  margin-top: -50px;
  justify-content: space-between;
}

.collapse.closed {
  width: 582px;
}

.collapse.open {
  width: 582px;
}

.open .collapse-icon {
  transform: rotate(0deg);
}
.open .collapse-content {
  max-height: 1000px;
}

.closed .collapse-icon {
  transform: rotate(90deg);
}
.closed .collapse-content {
  max-height: 0;
}

.CollapseAbout {
  width: 1023px;
}
.CollapseAbout .collapse-header {
  width: 1023px;
}
.CollapseAbout .collapse.open {
  width: 1023px;
}
.CollapseAbout .collapse.closed {
  width: 1023px;
}
.CollapseAbout .collapse-content {
  width: 1023px;
}

.Style404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Style404 h2 {
  font-size: 288px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(255, 96, 96);
  width: 597px;
  height: 263px;
  margin-top: 50px;
}
.Style404 p {
  color: rgb(255, 96, 96);
  width: 872px;
  height: 51px;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}
.Style404 Link {
  width: 284px;
  height: 26px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.Style404 a {
  margin-top: 80px;
  margin-bottom: 80px;
  text-decoration: underline;
}

/****** Media queries ***********/
/* Small devices and medium (tablets, between 350px and 800px) */
@media (min-width: 350px) and (max-width: 800px) {
  body {
    padding-top: 30px;
    height: 100%;
  }
  .Maincontainer {
    width: 375px;
    height: 100%;
    overflow: hidden;
  }
  .styleHeader {
    width: 335px;
    margin-left: 3px;
  }
  .styleHeader img {
    width: 145px;
    height: 46px;
  }
  .styleHeader .styleNav {
    width: 190px;
  }
  .styleHeader a {
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
  }
  .styleHeader a.active {
    border-bottom: 2px solid rgb(255, 96, 96);
  }
  .SectionBanner {
    margin-bottom: 30px;
    width: 335px;
    height: 111px;
    margin-left: 3px;
  }
  .SectionBanner img {
    width: 335px;
    height: 111px;
    border-radius: 10px;
    margin-left: 4px;
  }
  .SectionBanner h1 {
    width: 217px;
    height: 48px;
    font-size: 24px;
    text-align: left;
    top: -100px;
    left: 30px;
    line-height: 24px;
  }
  .Gallery {
    background-color: white;
    width: 335px;
    height: 805px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
  }
  .Gallery .Card {
    width: 335px;
    height: 255px;
    border-radius: 10px;
    margin-left: -10px;
  }
  .Gallery img {
    width: 335px;
    height: 255px;
    border-radius: 10px;
    margin-left: 0px;
  }
  .styleFooter {
    margin-top: 30px;
    width: 375px;
    height: 209px;
  }
  .styleFooter h2 {
    width: 133.59px;
    height: 46px;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }
  .aboutBanner {
    margin-bottom: 30px;
    width: 335px;
    height: 111px;
    margin-left: 0px;
  }
  .aboutBanner h1 {
    display: none;
  }
  .aboutBanner img {
    width: 335px;
    height: 111px;
    border-radius: 10px;
    margin-left: 0px;
  }
  .CollapseAbout {
    width: 335px;
    border-radius: 5px;
  }
  .CollapseAbout .collapse-header {
    width: 100%;
    height: 30px;
  }
  .CollapseAbout .collapse-header h3 {
    font-size: 13px;
    line-height: 18px;
    height: 1px;
  }
  .CollapseAbout .collapse-header h3 .collapse-icon {
    width: 30px;
    height: 30px;
  }
  .CollapseAbout .collapse.open {
    width: 335px;
  }
  .CollapseAbout .collapse.closed {
    width: 335px;
  }
  .CollapseAbout .collapse-content {
    width: 335px;
  }
  .ficheLogement {
    overflow: hidden;
    width: inherit;
  }
  .ficheLogement .styleFooter {
    margin-top: 30px;
  }
  .ficheLogement .Sectionlogements {
    width: 335px;
  }
  .ficheLogement .Sectionlogements .carousel {
    width: 335px;
    height: 225px;
  }
  .ficheLogement .Sectionlogements .carousel img {
    width: 335px;
    height: 225px;
  }
  .ficheLogement .Sectionlogements .carousel .arrow_left {
    left: 35px;
    top: 0px;
  }
  .ficheLogement .Sectionlogements .carousel .arrow_left img {
    width: 24px;
    height: 24px;
  }
  .ficheLogement .Sectionlogements .carousel .arrow_right {
    left: -35px;
    top: 0px;
  }
  .ficheLogement .Sectionlogements .carousel .arrow_right img {
    width: 24px;
    height: 24px;
  }
  .ficheLogement .Sectionlogements .carousel .photo-counter {
    display: none;
  }
  .ficheLogement .Sectionlogements .Informationslogements {
    width: 335px;
  }
  .ficheLogement .Sectionlogements .TitreAnnonce {
    width: 335px;
    height: 73px;
    left: 0px;
  }
  .ficheLogement .Sectionlogements .TitreAnnonce h2 {
    width: 335px;
    height: 46px;
    font-size: 18px;
    text-align: left;
  }
  .ficheLogement .Sectionlogements .TitreAnnonce p {
    width: 323px;
    height: 22px;
    font-size: 14px;
    text-align: left;
  }
  .ficheLogement .Sectionlogements .tag {
    left: -20px;
    top: 10px;
    width: 300px;
  }
  .ficheLogement .Sectionlogements .tag ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
  }
  .ficheLogement .Sectionlogements .tag ul li {
    width: 84px;
    height: 18px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    overflow: hidden;
  }
  .ficheLogement .Sectionlogements .hote {
    width: 135px;
    height: 33px;
    left: 106px;
    top: 20px;
  }
  .ficheLogement .Sectionlogements .hote p {
    width: 80px;
    height: 33px;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: righ;
  }
  .ficheLogement .Sectionlogements .hote img {
    width: 32px;
    height: 32px;
  }
  .ficheLogement .Sectionlogements .Rating {
    left: -65px;
    top: -15px;
  }
  .ficheLogement .Sectionlogements .Rating p {
    width: 98px;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .ficheLogement .Sectionlogements .Rating img {
    width: 18px;
    height: 18px;
  }
  .ficheLogement .Sectionlogements .logementCollapse {
    width: 335px;
    flex-direction: column;
    margin-top: 0px;
    top: -20px;
  }
  .ficheLogement .Sectionlogements .logementCollapse .collapse-header {
    width: 100%;
    height: 30px;
  }
  .ficheLogement .Sectionlogements .logementCollapse .collapse-header h3 {
    font-size: 13px;
    line-height: 18px;
    padding: 0px 10px 0px 10px;
  }
  .ficheLogement .Sectionlogements .logementCollapse .collapse-header h3 .collapse-icon {
    width: 30px;
    height: 30px;
  }
  .ficheLogement .Sectionlogements .logementCollapse .collapse.open {
    width: 335px;
  }
  .ficheLogement .Sectionlogements .logementCollapse .collapse.closed {
    width: 335px;
  }
  .ficheLogement .Sectionlogements .logementCollapse .collapse-content {
    width: 335px;
  }
  .Style404 h2 {
    width: 198px;
    height: 99px;
    font-size: 96px;
    font-weight: 700;
    line-height: 137px;
    letter-spacing: 0em;
    text-align: center;
  }
  .Style404 p {
    width: 260px;
    height: 52px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
  }
  .Style404 a {
    width: 221px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
}
/* Medium devices and large (tablets, between 500px and 1300px) */
@media (min-width: 800px) and (max-width: 1300px) {
  .Maincontainer {
    max-width: 900px;
    height: 100%;
    overflow: hidden;
  }
  .Maincontainer .styleHeader {
    width: 800px;
  }
  .Maincontainer .sectionGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Maincontainer .sectionGallery .SectionBanner {
    width: 800px;
  }
  .Maincontainer .sectionGallery .SectionBanner img {
    width: 800px;
  }
  .Maincontainer .sectionGallery .Gallery {
    width: 800px;
  }
  .Maincontainer .styleFooter {
    width: 900px;
  }
  .Maincontainer .aboutBanner {
    width: 800px;
  }
  .Maincontainer .aboutBanner img {
    width: 800px;
  }
  .Maincontainer .CollapseAbout {
    width: 800px;
  }
  .Maincontainer .CollapseAbout .collapse-header {
    width: 800px;
  }
  .Maincontainer .CollapseAbout .collapse.open {
    width: 800px;
  }
  .Maincontainer .CollapseAbout .collapse.closed {
    width: 800px;
  }
  .Maincontainer .CollapseAbout .collapse-content {
    width: 800px;
  }
  .ficheLogement {
    width: 900px;
  }
  .ficheLogement .styleHeader {
    width: 800px;
  }
  .ficheLogement .Sectionlogements {
    width: 800px;
  }
  .ficheLogement .Sectionlogements .CollapseAlign {
    width: 800px;
  }
  .ficheLogement .Sectionlogements .carousel img {
    width: 800px;
    height: 375px;
  }
  .ficheLogement .Sectionlogements .carousel .arrow_right img {
    width: 80px;
    height: 100px;
  }
  .ficheLogement .Sectionlogements .carousel .arrow_left img {
    width: 80px;
    height: 100px;
  }
  .ficheLogement .Sectionlogements .Informationslogements {
    width: 800px;
  }
  .ficheLogement .Sectionlogements .Informationslogements .logementCollapse {
    margin-top: 0px;
  }
  .ficheLogement .Sectionlogements .Informationslogements .logementCollapse .collapse-header {
    width: 380px;
    height: 35px;
  }
  .ficheLogement .Sectionlogements .Informationslogements .logementCollapse .collapse-header h3 {
    font-size: 13px;
    line-height: 18px;
    padding: 3px 10px 0px 10px;
  }
  .ficheLogement .Sectionlogements .Informationslogements .logementCollapse .collapse-header h3 .collapse-icon {
    width: 28px;
    height: 28px;
  }
  .ficheLogement .Sectionlogements .Informationslogements .logementCollapse .collapse.open {
    width: 380px;
  }
  .ficheLogement .Sectionlogements .Informationslogements .logementCollapse .collapse.closed {
    width: 380px;
  }
  .ficheLogement .Sectionlogements .Informationslogements .logementCollapse .collapse-content {
    width: 380px;
  }
  .ficheLogement .Sectionlogements .TitreAnnonce {
    width: 400px;
    left: -200px;
  }
  .ficheLogement .Sectionlogements .tag {
    left: -200px;
    width: 400px;
  }
  .ficheLogement .Sectionlogements .tag ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
  }
  .ficheLogement .Sectionlogements .tag ul li {
    height: 22px;
  }
  .ficheLogement .Sectionlogements .hote {
    left: 320px;
  }
  .ficheLogement .Sectionlogements .Rating {
    left: 310px;
  }
  .ficheLogement .styleFooter {
    width: 900px;
  }
  .Style404 h2 {
    width: 250px;
    height: 99px;
    font-size: 120px;
    font-weight: 700;
    line-height: 137px;
    letter-spacing: 0em;
    text-align: center;
  }
  .Style404 p {
    width: 260px;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
  }
  .Style404 a {
    width: 221px;
    height: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
}/*# sourceMappingURL=Style.css.map */